/* Móviles */
@media only screen and (max-width: 600px) {
    .main__posts {
        @include flexbox(column);
        padding: 2em;

        article {
            padding: 2em;
        }

        h2 {
            margin-bottom: 1em;
        }

        img {
            width: 100%; 
        }
    }

    .main__formulario {
        padding: 1em;

        h2 {
            margin-left: 0;
            text-align: center;
        }

        .main__formulario__data {
            @include flexbox(column);

            input {
                min-width: 100%;
                margin-right: 0;
            }
        }
    }
}

/* Tablets y pequeños ordenadores */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .main__posts {
        padding: 3em;

        article {
            padding: 3em;
        }
    }

    .main__formulario {
        padding: 2em;
    }
}

/* Media query 768px */
@media (max-width: 768px) {
    header {
        padding: 1em;
        min-height: 3em;

        span {
            font-size: 0.8em;
        }

        .header__nav a {
            margin-right: 1em;
            font-size: 0.8em;
        }
    }
}

/* Media query 1025px */
@media only screen and (min-width: 1025px) {
    .main__posts {
        padding: 5em;

        article {
            padding: 5em;
        }
    }

    .main__formulario {
        padding: 3em;

        .main__formulario__data {
            @include flexbox(row);

            input {
                min-width: 46.5em;
                margin-right: 1em;
            }
        }
    }
}

/* Media query 1200px */
@media (min-width: 1200px) {
    header {
        padding: 3em;
        min-height: 8em;

        span {
            font-size: 1.2em;
        }

        .header__nav a {
            margin-right: 3em;
            font-size: 1.2em;
        }
    }
}